body{
    font-family: 'Roboto', sans-serif;
    background: #404552;
}
.box{
    background: #222;
    width: 40vW;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.brand{

}
.search{

}
.vocal{

}
.tab_links li{
    display: inline-block;
    width: 20%;
    }
.tab_links a{
        width: 100%;
        display: block;
        padding: 0.8em 0 0.8em 0;
        color: #d3dae3;
        text-decoration: none;
        position: relative;
        margin: 0.5em 0 0.5em 0;
        
        }
.tab_links a:hover{
    background-color: rgba(60, 60, 110, 0.5);
}
.tab_links a:hover::before{
    display: block;
    transition-delay: 5s;
    transition: 0.1s;
    opacity: 1;
}
.tab_links a::before{
    content: '...';
    transform: rotate(90deg);
    display: block;
    position: absolute;
    right: 0.5em;
    /*display: none;*/
opacity: 0;
}
.tab_links small{
    display: block;
}
.tab_links img{
    width: 32px;
    background-color: #242936;
    padding: 16px;
    border-radius: 50%;
  margin-bottom: 1em;
    }
